* {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Outfit', sans-serif;
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-weight: bolder;
    

    margin: 0px 0px 23px;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    position: relative;
    display: inline-block;
    padding: 11px 0px 0px 30px;
}

.container {
   
    width: 100%;
    text-align: center;
}

p {
    letter-spacing: 0.8px;
    margin: 0px;
    display: inline-block;
}

h2::before {
    content: '';
    border-radius: 3px;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 45px;
    height: 45px;
    border: 1px solid;
   border-color: aqua;
}
 h2:after {
    content: '';
    border-radius: 3px;
    position: absolute;
    left: 10px;
    top: 10px;
    width: 45px;
    height: 45px;
    border: 1px solid;
    border-color: aqua;
 }